

.main-body {
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.discordapp.com/attachments/894403786666299474/960473093422317568/unknown.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab";
  font-weight: 600;
}
.taglines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 400px;
  bottom: 50px;

}
.taglines h1 {
  font-size: 64px;
}
.taglines h5 {
  font-size: 18px;
}
.find-more-button {
  margin-top: 80px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Roboto Slab";
  padding: 20px;
}
.footer span {
  color: rgb(114, 25, 25)
}
.footer p {
  margin-top: 10px;
  text-align: center;
  color: white;
  width: 50%;
  font-size: 14px;
}